*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary-green: #93b827;
  --color-primary-orange: #b9680d;
  --color-off-white: #f7f7f7;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  background-color: #f7f7f2;
}

.root {
  overflow-x: hidden;
}
