nav {
  width: 100vw;
}

.main-Nav {
  display: flex;
  list-style: none;
  min-height: 13vh;
  width: 100vw;

  .nav-item {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    // box-sizing: border-box;
    // border-left: 2px solid #f7f7f7;
    // border-right: 2px solid #f7f7f7;
    flex: 1;
    background-color: #93b827;
    transition: all 0.5s;

    &:hover {
      background-color: #afd63c;
    }

    .link {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem 2rem;
      text-decoration: none;
      text-align: center;
      color: white;
      height: 100%;
    }

    .active {
      background-color: #b9680d;
      transform: scaleY(1.1);
      height: 100%;
      box-shadow: 0 0 20px #00000073;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -14px;
        left: 50%;
        transform: translate(-25px, 0);
        width: 0;
        height: 0;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-top: 15px solid #b9680d;
      }
    }
  }
}
