.formWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: var(--color-off-white);
  min-width: 100vw;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  min-width: 100vw;
  margin: 0 auto;
  background-color: var(--color-off-white);
  box-shadow: 0 0 3rem rgba(43, 42, 42, 0.2);
  font-size: 2rem;
  text-transform: uppercase;

  &__label {
    display: block;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    background-color: var(--color-primary-green);
    color: var(--color-off-white);
    letter-spacing: 1px;
    border-radius: 0.5rem;
  }

  &__input {
    display: block;
    margin-bottom: 5rem;
    padding: 0.5rem 1rem;
    border: 2px solid var(--color-primary-green);
    border-radius: 0.5rem;
    background-color: white;
    outline: none;
    transition: all 0.5s;

    &:focus {
      transform: scale(1.05);
      box-shadow: 0 0 3rem rgba(43, 42, 42, 0.2);
    }
  }

  &__button {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--color-off-white);
    padding: 2rem 3rem;
    background-color: var(--color-primary-orange);
    border: none;
    border-radius: 0.5rem;
    transition: all 0.5s;
  }
}

@media screen and (max-height: 350px) {
  .form {
    padding-top: 10rem;
  }
}

@media screen and (min-width: 800px) {
  .form__button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 3rem rgba(43, 42, 42, 0.4);
    letter-spacing: 1px;
  }
}
